In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [3]:
dataDir = '../data'

In [4]:
invite_df = pd.read_csv(os.path.join(dataDir, 'invite_info_1020.csv'))

In [5]:
answer_df = pd.read_csv(os.path.join(dataDir, 'answer_info_0926_clear.csv'),
                                #names = ['answer_id', 'question_id', 'user_id', 'create_time',
                                #         'ans_SW', 'ans_W', 'is_good', 'has_picture', 'has_video',
                                #         'word_count', 'num_zan', 'num_cancel', 'num_comment', 'num_collect',
                                #         'num_thanks', 'num_report', 'num_useless', 'num_oppos'],
                                index_col= 'answer_id')

In [6]:
answer_df.head()

,question_id,user_id,create_day,create_hour,answer_SW,answer_W,is_good,has_picture,has_video,word_count,num_zan,num_cancel_zan,num_comment,num_collect,num_thanks,num_report,num_useless,num_oppose
answer_id,,,,,,,,,,,,,,,,,,
A2502060945,Q1867533817,M625498202,3808,7,"SW13,SW19,SW44,SW150,SW23,SW594,SW1254,SW91,SW...","W239,W10528,W142,W20372,W6473,W10,W24,W4527,W2...",0,0,0,41,1,0,1,0,1,0,0,0
A2847829478,Q3366788616,M142330444,3810,17,"SW898,SW3656,SW2,SW413,SW601,SW2,SW2541,SW681,...","W4628,W66060,W1607,W2647,W53385,W109029,W319,W...",0,0,0,204,1,0,0,3,1,0,0,0
A2005999231,Q4264694221,M771499642,3853,13,"SW9,SW510,SW573,SW1348,SW1304,SW326,SW509,SW22...","W3532,W69108,W12395,W81311,W498,W850,W107789,W...",0,0,0,54,2,0,1,0,0,0,0,0
A14821523,Q1088851650,M2282072267,3859,18,"SW7,SW16,SW5,SW144,SW302,SW20,SW1752,SW60,SW75...","W1425,W1676,W3700,W325,W6485,W1090,W8342,W9689...",0,0,0,42,1,0,1,0,1,0,0,0
A731550034,Q1023877868,M2282072267,3855,22,"SW7,SW15,SW596,SW407,SW1698,SW68,SW2,SW56,SW59...","W23420,W2610,W5506,W1489,W8749,W504,W1718,W252...",0,0,0,44,0,0,0,0,0,0,0,0

#### 添加 answer_ind 索引列

In [7]:
answer_df['answer_index'] = np.arange(len(answer_df))

#### 读取quest_info

In [60]:
quest_df = pd.read_csv(os.path.join(dataDir, 'question_info_1106.csv'),
#                        usecols = ['question_id', 'title_SW', 'title_W', 'question_topics', 'create_day'],
                                    index_col= 'question_id',
#                        index_col= 0
                       sep= '\t'
                      )

In [61]:
quest_df.head()

,create_time,title_SW,title_W,describe_SW,describe_W,question_topics,create_day,create_hour,question_topics_length,question_index,question_topics_mp,title_W_length,has_describe,describe_W_length
question_id,,,,,,,,,,,,,,
Q2234111670,D1018-H5,"SW211,SW204,SW1715,SW69,SW2033,SW138,SW57,SW13...","W22414,W963,W10458",-1,-1,"T321,T730,T5784,T4389",1018,5,4,0,0,0.108108,0,0.000000
Q760329790,D1745-H20,"SW69,SW2033,SW138,SW2616,SW2668,SW36,SW2594,SW...","W12677,W16829,W15201,W6419,W101839","SW146,SW982,SW401,SW297,SW17,SW2616,SW2668,SW3...","W1296,W2118,W12677,W16829,W15201,W6419,W101839...","T278,T12673,T4677",1745,20,3,1,1,0.216216,1,0.062863
Q741313548,D2032-H21,"SW153,SW662,SW1218,SW853,SW325,SW1056,SW467,SW...","W700,W2781,W3280,W81215","SW1956,SW3583,SW153,SW34,SW35,SW1016,SW586,SW5...","W732,W24400,W48321,W39608,W20788,W219486,W1183...",T226,2032,21,1,2,2,0.162162,1,0.048356
Q3481466230,D2185-H15,"SW22,SW179,SW57,SW451,SW594,SW118,SW882,SW655,...","W3312,W1823,W1505,W638,W166,W461","SW323,SW37,SW1,SW606,SW1227,SW29,SW22,SW179,SW...","W6642,W4214,W3312,W1505,W2205,W232,W294,W7177,...","T51,T4468",2185,15,2,3,3,0.270270,1,0.116054
Q3966197028,D2269-H17,"SW1622,SW223,SW1218,SW853,SW390,SW220,SW753,SW...","W700,W895,W2253",-1,-1,"T54700,T81,T57,T17670,T43574",2269,17,5,4,4,0.108108,0,0.000000

In [11]:
len(quest_df)

1829900

#### 添加question_ind 索引列

In [12]:
quest_df['question_index'] = np.arange(len(quest_df))

## 处理　invite info

In [13]:
len(invite_df)

9489162

In [14]:
invite_df.head()

   question_id      user_id create_time  is_answer
0  Q2166419046   M401693808   D3865-H22          0
1  Q1550017551  M3392373099   D3844-H11          0
2   Q604029601  M2317670257   D3862-H15          0
3  Q2350061229  M1618461867   D3849-H11          0
4  Q2443223942  M3544409350    D3867-H4          0

In [15]:
invite_df['create_day'] = invite_df['create_time'].apply(lambda x: int(x.split('-')[0].lstrip('D')))

In [16]:
invite_df['create_hour'] = invite_df['create_time'].apply(lambda x: int(x.split('-')[1].lstrip('H')))

In [17]:
invite_df = invite_df.sort_values(by= ['user_id', 'create_day', 'create_hour'])

In [18]:
accepted_df = invite_df.loc[invite_df['is_answer'] == 1]

In [19]:
accepted_df.head()

,question_id,user_id,create_time,is_answer,create_day,create_hour
8239342,Q2574396618,M1000000382,D3842-H16,1,3842,16
6296086,Q2611259517,M1000000983,D3847-H20,1,3847,20
7909920,Q1425436837,M1000000983,D3848-H19,1,3848,19
5630711,Q2079515575,M1000000983,D3857-H20,1,3857,20
5592281,Q634759810,M1000008978,D3855-H17,1,3855,17

#### 问题邀请计数

In [55]:
question_invite_count = invite_df.groupby('question_id')['is_answer'].count()

In [62]:
quest_df['invite_count'] = question_invite_count[quest_df.index]

In [63]:
quest_df.head()

,create_time,title_SW,title_W,describe_SW,describe_W,question_topics,create_day,create_hour,question_topics_length,question_index,question_topics_mp,title_W_length,has_describe,describe_W_length,invite_count
question_id,,,,,,,,,,,,,,,
Q2234111670,D1018-H5,"SW211,SW204,SW1715,SW69,SW2033,SW138,SW57,SW13...","W22414,W963,W10458",-1,-1,"T321,T730,T5784,T4389",1018,5,4,0,0,0.108108,0,0.000000,15.0
Q760329790,D1745-H20,"SW69,SW2033,SW138,SW2616,SW2668,SW36,SW2594,SW...","W12677,W16829,W15201,W6419,W101839","SW146,SW982,SW401,SW297,SW17,SW2616,SW2668,SW3...","W1296,W2118,W12677,W16829,W15201,W6419,W101839...","T278,T12673,T4677",1745,20,3,1,1,0.216216,1,0.062863,NaN
Q741313548,D2032-H21,"SW153,SW662,SW1218,SW853,SW325,SW1056,SW467,SW...","W700,W2781,W3280,W81215","SW1956,SW3583,SW153,SW34,SW35,SW1016,SW586,SW5...","W732,W24400,W48321,W39608,W20788,W219486,W1183...",T226,2032,21,1,2,2,0.162162,1,0.048356,NaN
Q3481466230,D2185-H15,"SW22,SW179,SW57,SW451,SW594,SW118,SW882,SW655,...","W3312,W1823,W1505,W638,W166,W461","SW323,SW37,SW1,SW606,SW1227,SW29,SW22,SW179,SW...","W6642,W4214,W3312,W1505,W2205,W232,W294,W7177,...","T51,T4468",2185,15,2,3,3,0.270270,1,0.116054,1.0
Q3966197028,D2269-H17,"SW1622,SW223,SW1218,SW853,SW390,SW220,SW753,SW...","W700,W895,W2253",-1,-1,"T54700,T81,T57,T17670,T43574",2269,17,5,4,4,0.108108,0,0.000000,NaN

In [ ]:
quest_df

#### 用户回答计数

In [20]:
user_ans_count = accepted_df.groupby('user_id')['is_answer'].count()

In [21]:
user_ans_count.head()

user_id
M1000000382    1
M1000000983    3
M1000008978    1
M1000009571    1
M1000009786    1
Name: is_answer, dtype: int64

#### 用户邀请计数

In [22]:
user_invite_count = invite_df.groupby('user_id')['is_answer'].count()

In [23]:
user_invite_count.head()

user_id
M1000000382     8
M1000000983    14
M1000003304     1
M1000008978     9
M1000009571     1
Name: is_answer, dtype: int64

#### 用户 since_last_ans, hist_ans_id_0, hist_ans_id_1

## 处理question 属性

### question topics max pooling

In [72]:
np.sum(quest_df['question_topics'] == '-1')

3874

In [56]:
topics_mean = np.mean(topic_vec, axis= 0)

In [161]:
topics_mean.shape

(64,)

In [68]:
def maxpool_quest_topics(s):
    try:
        if s != '-1':
            id_list = s.split(',')
            ind_list = topic_idmap[id_list].tolist()
            topic_array = topic_vec[ind_list]
            topic_mp = np.max(topic_array, axis= 0)
        else:
            topic_mp = topics_mean
    except:
        print(ind_list)
    return topic_mp

In [165]:
quest_topics_mp = quest_df['question_topics'].map(maxpool_quest_topics)

In [166]:
quest_topics_mp.head()

question_id
Q2234111670    [2.028344, 4.240323, 1.5969335, -1.7983502, 3....
Q760329790     [-1.8734853, -4.4524074, -1.4084837, -0.096429...
Q741313548     [1.1679975, -0.9902606, 2.8614578, 2.517082, -...
Q3481466230    [-0.8644146, -0.91238177, 1.4963309, 4.5643163...
Q3966197028    [5.1905546, 4.887342, 0.9944194, 6.2047296, 1....
Name: question_topics, dtype: object

#### 保存最大池化 topic vector

In [ ]:
quest_topics_mp_array = np.array(quest_topics_mp.tolist())

In [172]:
np.save(os.path.join(dataDir, 'question_topics_mp.npy'), quest_topics_mp_array)

#### 添加question topic 索引列

In [94]:
quest_df['question_topics_mp'] = np.arange(len(quest_df))

#### 标题长度

In [95]:
title_W_length = quest_df['title_W'].apply(lambda x: x.count(',') + 1)

In [96]:
title_W_length.describe()

count    1.829900e+06
mean     6.665204e+00
std      3.528144e+00
min      1.000000e+00
25%      4.000000e+00
50%      6.000000e+00
75%      8.000000e+00
max      3.800000e+01
Name: title_W, dtype: float64

#### 缩放

In [97]:
from sklearn.preprocessing import MinMaxScaler

In [98]:
quest_df['title_W_length'] = MinMaxScaler((0, 2)).fit_transform(title_W_length.values.reshape(-1, 1))

/home/sc3/miniconda2/envs/ydzhang/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

### 描述长度

In [99]:
describe_W_length = quest_df['describe_W'].apply(lambda x: x.count(',') + 1 if x != '-1' else 0)

In [100]:
quest_df['has_describe'] = (describe_W_length > 0).astype(int)

In [101]:
quest_df[['describe_W', 'has_describe']].head()

                                                    describe_W  has_describe
question_id
Q2234111670                                                 -1             0
Q760329790   W1296,W2118,W12677,W16829,W15201,W6419,W101839...             1
Q741313548   W732,W24400,W48321,W39608,W20788,W219486,W1183...             1
Q3481466230  W6642,W4214,W3312,W1505,W2205,W232,W294,W7177,...             1
Q3966197028                                                 -1             0

In [102]:
describe_W_length.describe()

count    1.829900e+06
mean     1.507478e+01
std      3.745192e+01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.600000e+01
max      1.034000e+03
Name: describe_W, dtype: float64

#### 缩放

In [103]:
quest_df['describe_W_length'] = MinMaxScaler((0, 5)).fit_transform(describe_W_length.values.reshape(-1, 1))

/home/sc3/miniconda2/envs/ydzhang/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

#### 添加topic_maxpool topics meanpool 索引列

#### question 属性 总结

In [92]:
quest_df.head()

,create_time,title_SW,title_W,describe_SW,describe_W,question_topics,create_day,create_hour,question_topics_length,question_index,title_W_length,has_describe,describe_W_length,invite_count,invite_count_scaled,question_topics_mp
question_id,,,,,,,,,,,,,,,,
Q2234111670,D1018-H5,"SW211,SW204,SW1715,SW69,SW2033,SW138,SW57,SW13...","W22414,W963,W10458",-1,-1,"T321,T730,T5784,T4389",1018,5,4,0,0.108108,0,0.000000,15.0,0.002680,0
Q760329790,D1745-H20,"SW69,SW2033,SW138,SW2616,SW2668,SW36,SW2594,SW...","W12677,W16829,W15201,W6419,W101839","SW146,SW982,SW401,SW297,SW17,SW2616,SW2668,SW3...","W1296,W2118,W12677,W16829,W15201,W6419,W101839...","T278,T12673,T4677",1745,20,3,1,0.216216,1,0.062863,0.0,0.000000,1
Q741313548,D2032-H21,"SW153,SW662,SW1218,SW853,SW325,SW1056,SW467,SW...","W700,W2781,W3280,W81215","SW1956,SW3583,SW153,SW34,SW35,SW1016,SW586,SW5...","W732,W24400,W48321,W39608,W20788,W219486,W1183...",T226,2032,21,1,2,0.162162,1,0.048356,0.0,0.000000,2
Q3481466230,D2185-H15,"SW22,SW179,SW57,SW451,SW594,SW118,SW882,SW655,...","W3312,W1823,W1505,W638,W166,W461","SW323,SW37,SW1,SW606,SW1227,SW29,SW22,SW179,SW...","W6642,W4214,W3312,W1505,W2205,W232,W294,W7177,...","T51,T4468",2185,15,2,3,0.270270,1,0.116054,1.0,0.000179,3
Q3966197028,D2269-H17,"SW1622,SW223,SW1218,SW853,SW390,SW220,SW753,SW...","W700,W895,W2253",-1,-1,"T54700,T81,T57,T17670,T43574",2269,17,5,4,0.108108,0,0.000000,0.0,0.000000,4

#### 输出 question dataframe

In [66]:
quest_df.to_csv(os.path.join(dataDir, 'question_info_1111.csv'),
#                columns = ['question_id', 'title_SW', 'title_W', 'question_topics_mp', 'create_day']
                sep= '\t'
               )

### answer topics 处理：

In [107]:
answer_df['question_topics_mp'] = quest_df.loc[answer_df['question_id'], 'question_topics_mp'].values

In [108]:
answer_df.head()

,question_id,user_id,create_day,create_hour,answer_SW,answer_W,is_good,has_picture,has_video,word_count,num_zan,num_cancel_zan,num_comment,num_collect,num_thanks,num_report,num_useless,num_oppose,answer_index,question_topics_mp
answer_id,,,,,,,,,,,,,,,,,,,,
A2502060945,Q1867533817,M625498202,3808,7,"SW13,SW19,SW44,SW150,SW23,SW594,SW1254,SW91,SW...","W239,W10528,W142,W20372,W6473,W10,W24,W4527,W2...",0,0,0,41,1,0,1,0,1,0,0,0,0,350889
A2847829478,Q3366788616,M142330444,3810,17,"SW898,SW3656,SW2,SW413,SW601,SW2,SW2541,SW681,...","W4628,W66060,W1607,W2647,W53385,W109029,W319,W...",0,0,0,204,1,0,0,3,1,0,0,0,1,1691739
A2005999231,Q4264694221,M771499642,3853,13,"SW9,SW510,SW573,SW1348,SW1304,SW326,SW509,SW22...","W3532,W69108,W12395,W81311,W498,W850,W107789,W...",0,0,0,54,2,0,1,0,0,0,0,0,2,525674
A14821523,Q1088851650,M2282072267,3859,18,"SW7,SW16,SW5,SW144,SW302,SW20,SW1752,SW60,SW75...","W1425,W1676,W3700,W325,W6485,W1090,W8342,W9689...",0,0,0,42,1,0,1,0,1,0,0,0,3,304256
A731550034,Q1023877868,M2282072267,3855,22,"SW7,SW15,SW596,SW407,SW1698,SW68,SW2,SW56,SW59...","W23420,W2610,W5506,W1489,W8749,W504,W1718,W252...",0,0,0,44,0,0,0,0,0,0,0,0,4,1725733

In [110]:
answer_df.to_csv(os.path.join(dataDir, 'answer_info_1106.csv'), sep= '\t')

#### 修改话题池化index

In [75]:
quest_df = pd.read_csv(os.path.join(dataDir, 'question_info_1111.csv'),
#                        usecols = ['question_id', 'title_SW', 'title_W', 'question_topics', 'create_day'],
                                    index_col= 'question_id',
#                        index_col= 0
                       sep= '\t'
                      )

In [93]:
quest_df.head()

,create_time,title_SW,title_W,describe_SW,describe_W,question_topics,create_day,create_hour,question_topics_length,question_index,title_W_length,has_describe,describe_W_length,invite_count,invite_count_scaled,question_topics_mp
question_id,,,,,,,,,,,,,,,,
Q2234111670,D1018-H5,"SW211,SW204,SW1715,SW69,SW2033,SW138,SW57,SW13...","W22414,W963,W10458",-1,-1,"T321,T730,T5784,T4389",1018,5,4,0,0.108108,0,0.000000,15.0,0.002680,0
Q760329790,D1745-H20,"SW69,SW2033,SW138,SW2616,SW2668,SW36,SW2594,SW...","W12677,W16829,W15201,W6419,W101839","SW146,SW982,SW401,SW297,SW17,SW2616,SW2668,SW3...","W1296,W2118,W12677,W16829,W15201,W6419,W101839...","T278,T12673,T4677",1745,20,3,1,0.216216,1,0.062863,0.0,0.000000,1
Q741313548,D2032-H21,"SW153,SW662,SW1218,SW853,SW325,SW1056,SW467,SW...","W700,W2781,W3280,W81215","SW1956,SW3583,SW153,SW34,SW35,SW1016,SW586,SW5...","W732,W24400,W48321,W39608,W20788,W219486,W1183...",T226,2032,21,1,2,0.162162,1,0.048356,0.0,0.000000,2
Q3481466230,D2185-H15,"SW22,SW179,SW57,SW451,SW594,SW118,SW882,SW655,...","W3312,W1823,W1505,W638,W166,W461","SW323,SW37,SW1,SW606,SW1227,SW29,SW22,SW179,SW...","W6642,W4214,W3312,W1505,W2205,W232,W294,W7177,...","T51,T4468",2185,15,2,3,0.270270,1,0.116054,1.0,0.000179,3
Q3966197028,D2269-H17,"SW1622,SW223,SW1218,SW853,SW390,SW220,SW753,SW...","W700,W895,W2253",-1,-1,"T54700,T81,T57,T17670,T43574",2269,17,5,4,0.108108,0,0.000000,0.0,0.000000,4

In [77]:
quest_df.drop(columns = ['question_topics_maxpool', 'question_topics_meanpool'], inplace= True)

In [78]:
quest_df['question_topics_mp'] = np.arange(len(quest_df))

In [80]:
np.all(quest_df['question_index'] == quest_df['question_topics_mp'])

True

In [94]:
quest_df.to_csv(os.path.join(dataDir, 'question_info_1111.csv'),
#                columns = ['question_id', 'title_SW', 'title_W', 'question_topics_mp', 'create_day']
                sep= '\t'
               )

#### 最小池化话题嵌入

In [81]:
topics_mean = np.mean(topic_vec, axis= 0)

In [82]:
topics_mean.shape

(64,)

In [83]:
def minpool_quest_topics(s):
    try:
        if s != '-1':
            id_list = s.split(',')
            ind_list = topic_idmap[id_list].tolist()
            topic_array = topic_vec[ind_list]
            topic_mp = np.min(topic_array, axis= 0)
        else:
            topic_mp = topics_mean
    except:
        print(ind_list)
    return topic_mp

In [84]:
quest_topics_minpool = quest_df['question_topics'].map(minpool_quest_topics)

In [85]:
quest_topics_minpool.head()

question_id
Q2234111670    [-4.504862, 1.9874872, -2.0136561, -3.2888541,...
Q760329790     [-4.0197744, -7.449603, -6.7452507, -2.753407,...
Q741313548     [1.1679975, -0.9902606, 2.8614578, 2.517082, -...
Q3481466230    [-2.0267296, -1.8910531, 0.78674245, 2.4407268...
Q3966197028    [-2.8291023, -2.5419934, -6.9592156, -1.159492...
Name: question_topics, dtype: object

#### 保存最小池化 topic vector

In [86]:
quest_topics_minpool_array = np.array(quest_topics_minpool.tolist())

In [87]:
np.save(os.path.join(dataDir, 'question_topics_minpool.npy'), quest_topics_minpool_array)

### 合并 最大池化和均值池化

In [88]:
quest_topics_maxpool = np.load(os.path.join(dataDir, 'question_topics_maxpool.npy'))
quest_topics_meanpool= np.load(os.path.join(dataDir, 'question_topics_meanpool.npy'))
quest_topics_minpool = np.load(os.path.join(dataDir, 'question_topics_minpool.npy'))

In [89]:
quest_topics_mp = np.concatenate([quest_topics_maxpool, quest_topics_meanpool, quest_topics_minpool], axis= -1)

In [90]:
quest_topics_mp.shape

(1829900, 192)

In [91]:
np.save(os.path.join(dataDir, 'question_topics_mp.npy'), quest_topics_mp)